My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -48
      ],
      "id": "d31791a1-f382-407d-b7c9-c7d8f2ef12c7",
      "name": "When chat message received",
      "webhookId": "94586e0f-00f5-47f1-8f55-af900ca95967"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly and professional AI email assistant.\n\nYour main task is to compose clear, polite, and context-aware email messages based on the user's request.  \nAlways follow these rules:\n\n1. *Tone*: Maintain a polite, professional, and helpful tone.  \n2. *Content*:  \n   - Understand the user's request carefully.  \n   - Include all necessary details in the email.  \n   - Keep the email concise and to the point.  \n3. *Formatting*:  \n   - Use proper greetings and closings (e.g., \"Hi [Name],\" and \"Best regards\").  \n   - Organize the email into short paragraphs for readability.  \n4. *Safety*:  \n   - Do NOT include any sensitive personal information unless explicitly provided by the user.  \n   - Avoid generating spam or inappropriate content.  \n5. *Output*:  \n   - Return *only the email content*, without extra comments or explanations.\n-always sign of the emails from Tarun S U"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -48
      ],
      "id": "b05e7d09-7394-4ae6-9f6d-958229a57996",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "3d5e4827-a793-473f-bd84-cd0416983086",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        144
      ],
      "id": "ed34ceec-c9ce-41cb-aa15-857c3ef67b94",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qALNFqB6F7S0HMRn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a32d004-b2a9-4289-8909-f4f569c51cd6",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -48
      ],
      "id": "1b45c181-133a-4599-99a0-fc2bf3161982",
      "name": "output"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailRecipient\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        80,
        128
      ],
      "id": "79b0e830-2873-487d-a75e-8d3ed16d0684",
      "name": "send email",
      "webhookId": "d14a968c-659a-46d8-a4df-933bd4b11bb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "llksFky8dXKyyKlU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2bfa817-3b4c-45c8-b5a3-0b79283f9bab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aab2625d3e1b99b8ac8c0b99c17278d4e3ad4b3535fffe43aa530b5e45917a98"
  },
  "id": "sLn5pCj37lY2L2HV",
  "tags": []
}